.person {
    display: grid;
    grid-template-areas:
        "title"
        "title"
        "name"
        "image"
        "label"
}

.person>h1 {
    grid-area: title;
}

.person>img {
    grid-area: image;
    width: auto;
    height: 50vh;
}

.person h2:first-of-type {
    grid-area: name;
}

.person h2:last-of-type {
    grid-area: label;
}

.delete {
    border: 1px solid #ddd;
    background-color: transparent;
    padding: 8px 24px;
    border-radius: 4px;
    transition: transform .5s ease-in-out;
}

.delete:hover {
    border: 1px solid #ddd;
    background-color: black;
    color: white;
    transform: scale(1.1, 1.1);
}